{% extends "base.html" %}

{% block title %} User Detail {% endblock title %}

{% block content %}

<h1> {{ user.first_name }} {{ user.last_name }}</h1>

<div class="mb-2">
  <img class="img-thumbnail" src="{{ user.image_url }}" alt="profile">
</div>

<form>
  <button formaction="/users/{{user.id}}/edit" formmethod="GET"
    class="btn btn-primary">Edit</button>
  <button formaction="/users/{{user.id}}/delete" formmethod="POST"
    class="btn btn-danger">Delete</button>
</form>

{% endblock content %}
